*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
#boxer{
    background: crimson;
    height: 200px;
    width: 200px;
}
#crc{
    background: green;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}